
# MATERIE DA NON CONSIDERARE

**/Programmazione/*
**/Algoritmi/*
**/CONCORSI/*
**/Documenti Utili/*
**/Tecnologie_Web/*

#-----------------------------------------

# FISICA ( è una repo a parte quindi non va considerata !! )
**/Fisica/*
